body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-link::after{
  border-color:white !important;
}

.navbar-link{
  background: none !important;
}

.navbar-link:hover{
  background: none !important;
}

.navbar-item:hover{
  background:none !important;
}

.navbar-dropdown{
  background: none !important;
}

.navbar-dropdown:hover{
  background: none !important;
}

.header-image{
	background-image: url('/coding-04.jpg');
	background-position: center center;
    background-size: cover;
}

.content{
  text-align: center;
}

.profilePicture{
  width: 256px;
  height: 256px;
}