.pcontent{
	text-align: center;
}

.spacer{
	height:15vh !important;
}

.images{
	max-width: 256px;
	max-height: 256px;
}

.header-image-p{
	background-image: url('/bg-projects.svg') !important;
	background-position: center center;
    background-size: cover;
}